doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Contribute To Node.js, You Ingrate!

    link(rel='stylesheet', type='text/css', href='build/build.css')
    
  body

    article

      section(data-bespoke-backdrop='nodejs')
        h1 A Talk With No Name

        <!-- Welcome to a talk that is so fresh and original, it doesn't even have a name yet. You are so lucky. Just like that horse in that song. You know, the horse with no name. Lucky horse. No name. No one can tell it what to do. It was a free spirit. No one was saying, "Hey, go faster, Mr. Ed, I've got a sprint planning meeting I'm late for!" No, instead, they're like, "I'd tell this horse to go faster but I don't know how to address this horse. I do not know this horse's name" That's like this talk. You cannot control it. So just let go! Let it take you wherever it wants to take you on its waves of bliss. Are you ready? Good. Here we go. -->
      
      section
        h2 Thank You
        h3 Rich Trott
        h4 @trott

    script(src='build/build.js')